<!-- mathQuiz.page.html -->
<ion-content>
  <!-- Question 1 -->
  <ion-card *ngIf="currentQuestion === 1">
    <ion-card-header>
      Question 1:
    </ion-card-header>
    <ion-card-content>
      <p>What is the largest organ in the human body?</p>
      <ion-list>
        <ion-item button (click)="checkAnswer('a', 1)">
          Liver
        </ion-item>
        <ion-item button (click)="checkAnswer('b', 1)">
          Skin
        </ion-item>
        <ion-item button (click)="checkAnswer('c', 1)">
          Brain
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Question 2 -->
  <ion-card *ngIf="currentQuestion === 2">
    <ion-card-header>
      Question 2:
    </ion-card-header>
    <ion-card-content>
      <p>What is the process by which plants make their food called?</p>
      <ion-list>
        <ion-item button (click)="checkAnswer('a', 2)">
          Photosyntesis
        </ion-item>
        <ion-item button (click)="checkAnswer('b', 2)">
          Respiration
        </ion-item>
        <ion-item button (click)="checkAnswer('c', 2)">
          Digestion
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Question 3 -->
  <ion-card *ngIf="currentQuestion === 3">
    <ion-card-header>
      Question 3:
    </ion-card-header>
    <ion-card-content>
      <p>Which organ is responsible for pumping blood throughout the body?</p>
      <ion-list>
        <ion-item button (click)="checkAnswer('a', 3)">
          Brain
        </ion-item>
        <ion-item button (click)="checkAnswer('b', 3)">
          Heart
        </ion-item>
        <ion-item button (click)="checkAnswer('c', 3)">
          Liver
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
